USE [master]
GO
/****** Object:  Database [LoginDemoDb]    Script Date: 14/07/2025 6:10:57 CH ******/
CREATE DATABASE [LoginDemoDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoginDemoDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MAYO\MSSQL\DATA\LoginDemoDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LoginDemoDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MAYO\MSSQL\DATA\LoginDemoDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoginDemoDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoginDemoDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/07/2025 6:10:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/07/2025 6:10:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250714101010_InitDb', N'8.0.5')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role]) VALUES (1, N'admin123', N'123456', N'Admin')
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role]) VALUES (2, N'user', N'123456', N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
