USE [master]
GO
/****** Object:  Database [HoSoDB]    Script Date: 29/07/2025 2:02:31 CH ******/
CREATE DATABASE [HoSoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HoSoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HoSoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HoSoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HoSoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HoSoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HoSoDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29/07/2025 2:02:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ho_so_dang_ky]    Script Date: 29/07/2025 2:02:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ho_so_dang_ky](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_doanh_nghiep] [nvarchar](255) NOT NULL,
	[ma_so_thue] [nvarchar](100) NOT NULL,
	[dia_chi_tru_so] [nvarchar](255) NOT NULL,
	[nguoi_dai_dien] [nvarchar](100) NOT NULL,
	[so_dien_thoai] [nvarchar](20) NOT NULL,
	[email_lien_he] [nvarchar](100) NOT NULL,
	[ghi_chu] [nvarchar](max) NULL,
	[ten_file_upload] [nvarchar](255) NULL,
	[duong_dan_file] [nvarchar](max) NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoDangKys]    Script Date: 29/07/2025 2:02:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoDangKys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDoanhNghiep] [nvarchar](max) NOT NULL,
	[MaSoThue] [nvarchar](max) NOT NULL,
	[DiaChiTruSo] [nvarchar](max) NOT NULL,
	[NguoiDaiDien] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[EmailLienHe] [nvarchar](max) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TenFileUpload] [nvarchar](max) NULL,
	[DuongDanFile] [nvarchar](max) NULL,
	[NgayTao] [datetime2](7) NULL,
 CONSTRAINT [PK_HoSoDangKys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoDoanhNghieps]    Script Date: 29/07/2025 2:02:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoDoanhNghieps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDoanhNghiep] [nvarchar](max) NOT NULL,
	[MaSoThue] [nvarchar](max) NOT NULL,
	[TinhTrang] [nvarchar](max) NOT NULL,
	[NgayDangKy] [datetime2](7) NOT NULL,
	[TinhThanh] [nvarchar](100) NULL,
 CONSTRAINT [PK_HoSoDoanhNghieps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungs]    Script Date: 29/07/2025 2:02:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[MatKhauHash] [nvarchar](max) NOT NULL,
	[VaiTro] [nvarchar](max) NULL,
 CONSTRAINT [PK_NguoiDungs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ho_so_dang_ky] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
USE [master]
GO
